
 body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

 ul {
   
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
} 
.gallery-image {
    width: 220px;
    height: 146px;
    transition: transform 0.3s ease-out;
    margin-left: 4px; 
    padding: 0;
   
}

 .gallery-item:hover .gallery-image {
    transform: scale(1.05);
} 